// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "~bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$border-radius: .4rem;

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar"; // Requires nav
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal"; // Requires transitions
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas"; // Requires transitions
@import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers/clearfix";
@import "~bootstrap/scss/helpers/color-bg";
// @import "~bootstrap/scss/helpers/colored-links";
// @import "~bootstrap/scss/helpers/position";
// @import "~bootstrap/scss/helpers/ratio";
// @import "~bootstrap/scss/helpers/stacks";
// @import "~bootstrap/scss/helpers/stretched-link";
// @import "~bootstrap/scss/helpers/text-truncation";
// @import "~bootstrap/scss/helpers/visually-hidden";
// @import "~bootstrap/scss/helpers/vr";

// Form
@import "~bootstrap/scss/forms/floating-labels";
// @import "~bootstrap/scss/forms/form-check";
@import "~bootstrap/scss/forms/form-control";
// @import "~bootstrap/scss/forms/form-range";
// @import "~bootstrap/scss/forms/form-select";
// @import "~bootstrap/scss/forms/form-text";
@import "~bootstrap/scss/forms/input-group";
// @import "~bootstrap/scss/forms/labels";
// @import "~bootstrap/scss/forms/validation";

// Utilities
@import "~bootstrap/scss/utilities/api";


//
// Custom styles
//
#btnToggleSearch {
  position: fixed;
  top: 5rem;
  left: 0.5rem;
  z-index: 500;
}

#map {
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 20px;
  width: 20px;
}

.list-group-item {
  cursor: pointer;
}

.btnBookmarkReorder {
  cursor: grab;
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FF3D00;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
